/* 上下のline-heightをカット */
.u--linecut {
	-rm-text-remove-gap: both;
	line-height: 1.6;
}

/// Function
///=============================================================================
/// @name px-vw
/// @author jinma <jinma@amd.tokyo>
/// @description px を vw に変換する
///
/// @example
/// .class-name {
///     px-vw(19px);
/// }
@function px-vw($target-px, $display-size) {
	$vw: ($display-size : 0.0.1);
  // $vw-context: (640 * .01) * 1px;
  @return ($target-px / $vw-context) * 1vw;
}

/// @name px-rem
/// @author jinma <jinma@amd.tokyo>
/// @description px を rem に変換する
///
/// @example
/// .class-name {
///     px-rem(19px);
/// }
@function px-rem($px, $context: $base-font-size) {
  @return #{ $px / $context }rem;
}
