/* 上下のline-heightをカット */
.u--linecut {
	-rm-text-remove-gap: both;
	line-height: 1.7;
}

/// Function
/// @TODO function.scss file 作成予定

/// vv
/// example vv(19px);
@function vv($target) {
  $vw-context: (640 * .01) * 1px;
  @return ($target/$vw-context) * 1vw;
}
